<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-white pb-24">
  <h1 class="text-6xl text-white text-center">Intania Tour</h1>
  <div class="my-4 text-2xl text-center">
    Intania Tour ✨ กิจกรรมที่พี่ ๆ
    ชาววิศวะจุฬาจะภาพน้องไปเดินทัวร์รอบคณะวิศวกรรมศาสตร์
  </div>
  <div
    class="text-2xl text-center flex flex-col md:flex-row justify-center items-center gap-2 my-4 text-space-normal"
  >
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
      >
        <path
          fill-rule="evenodd"
          d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div>วันเสาร์ที่ 1 เมษายน - วันอาทิตย์ที่ 2 เมษายน 2566</div>
  </div>
  <div
    class="text-2xl text-center flex flex-row justify-center items-center gap-2 my-4"
  >
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
      >
        <path
          fill-rule="evenodd"
          d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div>ลานเกียร์</div>
  </div>

  <div class="text-xl">
    <h2 class="text-center text-3xl">รอบทัวร์</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 max-w-3xl mx-auto">
      <div class="text-center">รอบที่ 1 09:30 - 10:30</div>
      <div class="text-center">รอบที่ 2 10:00 - 11:00</div>
      <div class="text-center">รอบที่ 3 10:30 - 11:30</div>
      <div class="text-center">รอบที่ 4 11:00 - 12:00</div>
      <div class="text-center">รอบที่ 5 11:30 - 12:30</div>
      <div class="text-center">รอบที่ 6 12:00 - 13:00</div>
      <div class="text-center">รอบที่ 7 13:00 - 14:00</div>
      <div class="text-center">รอบที่ 8 13:30 - 14:30</div>
      <div class="text-center">รอบที่ 9 14:00 - 15:00</div>
      <div class="text-center">รอบที่ 10 14:30 - 15:30</div>
      <div class="text-center">รอบที่ 11 15:00 - 16:00</div>
      <div class="text-center">รอบที่ 12 15:30 - 16:30</div>
    </div>
  </div>
</section>
