<header
  class="px-4 py-6 absolute z-50 top-0 left-0 flex justify-between w-full"
>
  <a href="/" class="flex items-center">
    <img src="/assets/logo.svg" alt="logo" class="w-10 h-10" />
  </a>

  <nav class="flex gap-4 items-center text-sm sm:text-base">
    <a href="/" class="text-white hover:underline">หน้าแรก</a>
    <a href="/game" class="text-white hover:underline">ค้นหาภาควิชาที่ใช่</a>
    <!-- <a href="/majors" class="text-white hover:underline">ภาควิชา</a> -->
    <a href="/contact" class="text-white hover:underline">ช่องทางการติดต่อ</a>
  </nav>
</header>
