---
import Layout from "../layout/Layout.astro";
---

<Layout title="ช่องทางการติดต่อ — Intania Open House 2023">
  <main class="">
    <section
      class="relative bg-[url('/assets/hero.png')] bg-cover min-h-screen h-full"
    >
      <div
        class="flex flex-col h-full justify-center gap-8 px-20 py-16 sm:py-36"
      >
        <p class="text-4xl sm:text-5xl font-body">ช่องทางการติดต่อ</p>

        <div class="flex flex-col gap-6 text-white">
          <a
            href="https://www.instagram.com/cuintaniaopenhouse/"
            class="group"
            target="_blank"
          >
            <div class="flex items-center gap-3">
              <img
                src="/assets/icons/facebook.svg"
                alt="Faceboook"
                class="w-10 h-10"
              />
              <span
                class="text-2xl sm:text-3xl underline group-hover:no-underline"
                >cuintaniaopenhouse</span
              >
            </div>
          </a>

          <a
            href="https://facebook.com/intaniaopenhouse"
            class="group"
            target="_blank"
          >
            <div class="flex items-center gap-3">
              <img
                src="/assets/icons/instagram.svg"
                alt="Instagram"
                class="w-10 h-10"
              />
              <span
                class="text-2xl sm:text-3xl underline group-hover:no-underline"
                >cuintaniaopenhouse</span
              >
            </div>
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
