---
import Hero from "../components/landing/01-Hero/Hero.astro";
import Quiz from "../components/landing/02-LinkToQuiz/Quiz.astro";
import Majors from "../components/landing/03-Majors/Majors.astro";
import Tour from "../components/landing/04-Tour/Tour.astro";
import Layout from "../layout/Layout.astro";
---

<Layout title="Intania Open House 2023">
  <main class="">
    <Hero />
    <Quiz />
    <Majors />
    <Tour />
  </main>
</Layout>
