<section
  class="relative bg-[url('/assets/bg1.png')] h-[100vh] flex flex-col justify-center sm:justify-start bg-cover w-full"
>
  <div
    class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-3 lg:gap-24 py-12 items-center h-full"
  >
    <div class="relative flex flex-col justify-end lg:justify-start h-full">
      <p
        class="text-3xl text-center sm:text-5xl font-body px-6 py-4 rounded-full bg-space-dark/50 backdrop-blur-sm"
      >
        วิศวะจุฬามีภาคอะไรบ้าง ?
      </p>
    </div>
    <div class="relative flex flex-col justify-center h-full">
      <p
        class="text-3xl text-center sm:text-5xl font-body px-6 py-4 rounded-full bg-space-dark/50 backdrop-blur-sm"
      >
        เราเหมาะกับภาคอะไรกันนะ ?
      </p>
    </div>
    <div
      class="relative flex flex-col gap-6 items-center justify-start lg:justify-end h-full"
    >
      <p
        class="text-xl text-white text-center sm:text-2xl font-body px-6 py-4 rounded-full bg-space-dark/50 backdrop-blur-sm"
      >
        มาค้นหาภาคที่ใช่สำหรับคุณกัน !
      </p>

      <a
        href="/game"
        class="rounded-full py-3 px-12 bg-white group text-space-medium shadow-md flex gap-6 items-center duration-500 transition-colors hover:bg-slate-200"
      >
        <span class="text-3xl">จิ้มเลย !</span>
        <img
          src="/assets/icons/arrowright.svg"
          class="transition-transform group-hover:translate-x-4 duration-500"
          alt="arrow right"
        />
      </a>
    </div>
  </div>
</section>
