<section
  class="relative bg-[url('/assets/bg1.png')] bg-cover h-full min-h-[120vh] w-full"
>
  <div
    class="max-w-4xl mx-auto grid grid-cols-1 sm:grid-cols-3 gap-24 sm:gap-0 py-12"
  >
    <div class="relative">
      <p class="text-3xl text-center sm:text-4xl font-body">
        วิศวะจุฬามีภาคอะไรบ้าง ?
      </p>
    </div>
    <div class="relative sm:pt-36">
      <p class="text-3xl text-center sm:text-4xl font-body">
        เราเหมาะกับภาคอะไรกันนะ ?
      </p>
    </div>
    <div class="relative flex flex-col gap-6 items-center sm:pt-72">
      <p class="text-xl text-white text-center sm:text-2xl font-body">
        มาค้นหาภาคที่ใช่สำหรับคุณกัน !
      </p>

      <button
        class="rounded-full py-3 px-12 bg-white group text-space-medium shadow-md flex gap-6 items-center duration-500 transition-colors hover:bg-slate-200"
      >
        <span class="text-3xl"> จิ้มเลย !</span>
        <img
          src="/assets/icons/arrowright.svg"
          class="transition-transform group-hover:translate-x-4 duration-500"
          alt="arrow right"
        />
      </button>
    </div>
  </div>
</section>
